// app global css in SCSS form
@font-face {
    font-family: 'Inter 18pt';
    src: url('font/Inter18pt-Regular.eot');
    src: url('font/Inter18pt-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/Inter18pt-Regular.woff2') format('woff2'),
        url('font/Inter18pt-Regular.woff') format('woff'),
        url('font/Inter18pt-Regular.ttf') format('truetype'),
        url('font/Inter18pt-Regular.svg#Inter18pt-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.font-inter {
    font-family: 'Inter 18pt';
}

@font-face {
    font-family: 'Kaushan Script';
    src: url('font/KaushanScript-Regular.eot');
    src: url('font/KaushanScript-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/KaushanScript-Regular.woff2') format('woff2'),
        url('font/KaushanScript-Regular.woff') format('woff'),
        url('font/KaushanScript-Regular.ttf') format('truetype'),
        url('font/KaushanScript-Regular.svg#KaushanScript-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.font-kaushan {
    font-family: 'Kaushan Script';
    font-size: 20px;
}
.font-15{
    font-size: 15px;
}
.font-16{
    font-size: 16px;
}
.font-18{
    font-size: 18px;
}
.font-20{
    font-size: 20px;
}
.font-24 {
    font-size: 24px;
}
.font-36 {
    font-size: 36px;
}
.font-w-400{
    font-weight: 400;
}
.font-w-500 {
    font-weight: 500;
}
.font-w-600 {
    font-weight: 600;
}
.font-w-700 {
    font-weight: 700;
}
.bg-light {
    background-color: #FAFAFA;
}
.bg-light-sky{
    background-color: #EBF1F4;
}
.text-grey {
    color: #555555 !important;
}
.bg-light-grey {
    background-color: #D3D3D3;
}
.text-light-black {
    color: #323232;
}
.text-light-grey {
    color: #6B6B6B !important;
}
.radius {
    border-radius: 6px !important;
}